@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Lato_h1;
  src: url(fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato_h2;
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato_p;
  src: url(fonts/Lato-Light.ttf);
}
.wrapper {
  position: relative;
}

.menu__wrapper {
  background-color: #222222;
  top: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.zoom {
  transition: transform 0.1s;
}

.zoom:hover {
  transform: scale(1.05);
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
}

.zoom__menu {
  transition: transform 0.1s;
}

.zoom__menu:hover {
  transform: scale(1.5);
}

.logo__icon {
  padding-top: 19px;
  padding-right: 20px;
}

.search__icon {
  padding-top: 28px;
  padding-left: 21px;
}

.menu__icon {
  padding-top: 30px;
  padding-bottom: 22px;
  padding-left: 30px;
  padding-right: 12px;
}

.account__icon {
  padding-top: 26px;
  padding-left: 12px;
  padding-right: 21px;
}

.backet__icon {
  padding-top: 26px;
  padding-right: 20px;
  padding-left: 21px;
}

.left__elements {
  display: flex;
}

.right__elements {
  display: flex;
}

.right__elements:after {
  content: "";
  display: table;
  clear: both;
}

.right__elements > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: Lato_h2;
}

.submenu {
  background: white;
  position: absolute;
  top: 60px;
  padding-left: 34px;
  padding-top: 10px;
  z-index: 5;
  width: 200px;
  height: 515px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
  flex-grow: 1;
  list-style-type: none;
  font-size: 14px;
  display: block;
  margin-left: -100px;
}

a {
  text-decoration: none;
  color: #9f9f9f;
}

.sub-item__submenu {
  margin-left: 20px;
  margin-bottom: 8px;
}

.close__submenu {
  margin-left: 150px;
}

.submenu > .menu__icon {
  color: rgb(30, 53, 156);
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.right__elements > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.submenu li a:hover {
  color: #f16d7f;
}

.submenu__section {
  color: #f16d7f;
  margin-bottom: 7px;
}

.item-menu__submenu {
  color: #000;
  margin-bottom: 20px;
}

.banner__background {
  background-color: #f1e4e6;
}

.banner {
  height: 764px;
  display: flex;
  flex-wrap: wrap;
}

.banner__man {
  flex-grow: 1;
  background-image: url(../css/img/banner.png);
  background-repeat: no-repeat;
}

.banner__text {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.heading__h1 {
  font-family: Lato_h1;
  font-size: 48px;
  top: 200px;
  padding-left: 20px;
  margin-top: -100px;
}

.heading__h2 {
  font-family: Lato_h2;
  font-size: 36px;
  line-height: 58px;
  top: 416px;
  flex-grow: 1;
  padding-left: 20px;
}

.fashion__color {
  color: #f16d7f;
}

.color__line {
  padding-top: 365px;
  padding-right: 3px;
}

.goods {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card__text {
  text-align: center;
  font-family: Lato_h2;
}

.text__promo {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

h3 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}

.women__goods {
  background-image: url(../css/img/women.png);
  height: 260px;
  width: 360px;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 100vw rgba(33, 22, 22, 0.7);
  background-repeat: no-repeat;
  margin-top: 32px;
}

.men__goods {
  background-image: url(../css/img/men.png);
  height: 260px;
  width: 360px;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 100vw rgba(33, 22, 22, 0.7);
  background-repeat: no-repeat;
  margin-top: 32px;
}

.kids__goods {
  background-image: url(../css/img/kid.png);
  height: 260px;
  width: 360px;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 100vw rgba(33, 22, 22, 0.7);
  background-repeat: no-repeat;
  margin-top: 32px;
}

.accesories {
  background-image: url(../css/img/accesories.png);
  height: 180px;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 100vw rgba(33, 22, 22, 0.7);
  background-repeat: no-repeat;
  margin-bottom: 96px;
}

h4 {
  font-family: Lato_h2;
  font-weight: 400;
  font-size: 30px;
  height: 36px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.items__text {
  font-family: Lato_h2;
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 48px;
}

.wrapper__items {
  margin-bottom: 49px;
}

.item__sec {
  margin-bottom: 48px;
}

.item__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.item:hover .item__pic {
  filter: brightness(30%);
}

.item:hover .item__pic2 {
  filter: brightness(30%);
}

.item:hover .add-box {
  display: flex;
}

.item__link {
  display: block;
  width: 360px;
}

.item__link:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item__pic {
  width: 100%;
}

.item__pic2 {
  background-color: #f7e4e2;
  height: 420px;
  padding-left: 29%;
  padding-right: 30%;
}

.txt__box {
  padding: 15px;
}

.item__h5 {
  font-family: Lato_h1;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 13px;
  color: #000;
  padding-left: 18px;
}

.item__desc {
  font-family: Lato_h2;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 18px;
  padding-left: 16px;
}

.item__price {
  font-family: Lato_h2;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding-left: 18px;
}

.add {
  display: flex;
  border: 1px solid #fff;
  padding: 10px;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.add:hover {
  box-shadow: 0px 0px 10px 0px #fff;
}

.add-box {
  display: none;
  position: absolute;
  top: 188px;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add-desc {
  font-family: Lato_h2;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding-left: 8px;
  margin-top: 6px;
}

.behind__button {
  display: flex;
  flex-direction: column;
}

.button__1 {
  font-size: 18px;
  font-family: Lato_h2;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  padding: 18px 38px;
  background: #f16d7f;
  text-decoration: none;
  display: inline-block;
  align-self: center;
  margin-bottom: 96px;
  width: 211px;
}

.benefits__background {
  background-color: #222224;
}

.benefits {
  height: 341px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.background__image {
  height: 448px;
  background-repeat: no-repeat;
  background-image: url(../css/img/bcg\ image.png);
  background-position: center;
  box-shadow: inset 0 0 0 100vw rgba(244, 244, 244, 0.7);
}

.subscribe {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appeal1 {
  margin-top: 97px;
}

.photo {
  text-align: center;
  margin: 0;
  padding: 0;
}

.appeal__text1 {
  width: 359px;
  font-size: 20px;
  font-family: Lato_p;
  color: #000;
  font-weight: 700;
}

.appeal2 {
  margin-top: 150px;
}

.appial__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
  font-family: Lato_h2;
}

.appeal__text2 {
  font-family: Lato_p;
  font-weight: 700;
  font-size: 22px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.input {
  width: 100px;
  height: 49px;
  display: flex;
}

*.input__text {
  display: flex;
}

.form__input {
  width: 322px;
  height: 49px;
  background-color: #e1e1e1;
  border: 0 none;
  border-radius: 25px 0 0 25px;
  text-align: left;
  font-family: Lato_p;
  font-size: 14px;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
}

.submit {
  margin: 0;
  padding: 5px 15px;
  width: 100px;
  height: 49px;
  background-color: #f16d7f;
  border: 0 none;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  font-family: Lato_p;
  font-size: 14px;
  font-weight: 400;
}

.footer__background {
  background-color: #222224;
}

.footer {
  height: 90px;
}

.benefit {
  height: 126px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.benefit__text {
  width: 360px;
  font-family: Lato_p;
  font-size: 14px;
  line-height: 24px;
  color: #fbfbfb;
}

.benefit__h5 {
  font-size: 20px;
  color: white;
  font-family: Lato_h2;
  font-weight: 400;
}

.benefit__icon1 {
  padding-bottom: 28px;
}

.benefit__icon2 {
  padding-bottom: 19px;
}

.benefit__icon3 {
  padding-bottom: 25px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.rights {
  padding-top: 30px;
  font-family: Lato_h2;
  font-size: 16px;
  color: white;
}

.social__nw {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 24px;
  margin-right: 16px;
  text-align: center;
}

.social__nw1 {
  height: 32px;
  width: 32px;
  background-color: #fff;
  margin: 8px;
  background-image: url(../css/img/facebook1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social__nw1:hover {
  background: #f16d7f;
  background-image: url(../css/img/facebook2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social__nw2 {
  height: 32px;
  width: 32px;
  background-color: #fff;
  margin: 8px;
  background-image: url(../css/img/insta1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social__nw2:hover {
  background: #f16d7f;
  background-image: url(../css/img/insta2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social__nw3 {
  height: 32px;
  width: 32px;
  background-color: #fff;
  margin: 8px;
  background-image: url(../css/img/pinterest1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social__nw3:hover {
  background: #f16d7f;
  background-image: url(../css/img/pinterest2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social__nw4 {
  height: 32px;
  width: 32px;
  background-color: #fff;
  margin: 8px;
  background-image: url(../css/img/twitter1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social__nw4:hover {
  background: #f16d7f;
  background-image: url(../css/img/twitter2.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*! Page Registration */
.bcg__registration__block {
  background-color: #f8f3f4;
  height: 148px;
  margin-bottom: 64px;
}

.registration__block {
  padding-top: 59px;
  font-family: Lato_h2;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.wrapper__body {
  display: flex;
  justify-content: space-between;
}

form {
  width: 360px;
}

fieldset {
  width: 360px;
  border: none;
}

.label-form {
  font-family: Lato_p;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.reg__form {
  background-color: #fff;
  border: #9f9f9f;
  border: 1px solid #a4a4a4;
  width: 360px;
  height: 45px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #b1b1b1;
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  font-family: Lato_p;
  padding-right: 20px;
  padding-left: 20px;
}

.instruction {
  font-family: Lato_p;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

form input [type=reg__form]:required {
  width: 322px;
  height: 49px;
  background-color: #b6b322;
  border: 0 none;
  text-align: left;
  font-family: Lato_p;
  font-size: 14px;
  font-weight: 400;
}

input[type=reg] {
  background-color: #fff;
  border: #9f9f9f;
}

.submit2 {
  padding-top: 16px;
  padding-bottom: 17px;
  width: 167px;
  margin-top: 39px;
  margin-bottom: 96px;
  font-family: Lato_h2;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #f16d7f;
  cursor: pointer;
}

.heading__h4 {
  font-family: Lato_h2;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: black;
}

.label-form {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}

input[type=radio] {
  display: none;
}

.label-form:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  left: 0;
  bottom: 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}

.radio .label-form:before {
  border-radius: 8px;
}

input[type=radio]:checked + .label-form:before {
  content: "•";
  color: #f16d7f;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
}

.text__field {
  width: 652px;
  margin-left: 128px;
  font-family: Lato_p;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg__appeal {
  margin-top: 22px;
  margin-bottom: 21px;
}

.reg__perks {
  list-style-image: url(../css/img/check.png);
  line-height: 24px;
}

.reg__perk {
  padding-bottom: 16px;
  padding-left: 23px;
  margin-left: 40px;
}

.bcg__arrivals__block {
  background-color: #f8f3f4;
  height: 148px;
}

.arrivals-block__items {
  display: flex;
  justify-content: space-between;
}

ul.breadcrumb {
  padding-top: 66px;
  list-style: none;
}

/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-family: Lato_h2;
  color: #f16d7f;
}

/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ul.breadcrumb li + li:before {
  padding: 4px;
  color: #f16d7f;
  content: "/";
}

/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb li a {
  color: #636363;
  text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
  color: #f16d7f;
  text-decoration: none;
}

.slider {
  padding-top: 11px;
  background-color: #f7f7f7;
  width: 1600px;
  height: 777px;
  margin: 0 auto;
}

.slider-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.button-after {
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
  position: absolute;
  margin-top: 365px;
  margin-left: 97%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-before {
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
  position: absolute;
  margin-top: 365px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.fa-solid {
  transform: scale(1.6);
  color: #000;
  padding: 5px;
}

.fa-solid:hover {
  color: #f16d7f;
  padding: 5px;
}

.slide {
  margin-left: 28%;
  width: 597px;
  position: absolute;
}

.field-descr {
  border: 1px solid #eaeaea;
  width: 1140px;
  margin-top: -53px;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 129px;
}

.section-header {
  margin-top: 64px;
  font-family: Lato_p;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.horizontal-divider1 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.subtitle {
  font-family: Lato_p;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  margin-bottom: 48px;
}

.section-text {
  max-width: 49%;
  font-family: Lato_p;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  margin-left: 24%;
  text-align: center;
}

.section-price {
  margin-top: 32px;
  font-family: Lato_p;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.horizontal-divider2 {
  margin-top: 65px;
  margin-bottom: 65px;
}

summary {
  display: block;
  margin-left: 10px;
  margin-right: 20px;
  list-style-type: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  padding-right: 0.5em;
  margin-left: 10px;
  margin-right: 20px;
}

.filter-items {
  display: flex;
  flex-direction: row;
}

details[open] > summary::after {
  margin-left: 10px;
  margin-right: 20px;
}

.icon-angle-down {
  transform: rotate(-90deg) scale(1);
  color: #6f6e6e;
  bottom: -15px;
  padding-left: 10px;
}

.filters {
  justify-content: space-between;
  width: 555px;
  display: inline;
  font-family: Lato_h2;
  color: #6f6e6e;
  display: flex;
  margin-left: 26%;
}

.filter-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Lato_p;
  font-style: 14px;
}

.filter-elements {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px;
  margin-top: 5px;
}

.checkboxes {
  padding-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
  margin-top: 6px;
  text-align: left;
}

.checkbox-style {
  border: 1px solid #ebebeb;
  margin-left: 9px;
  margin-bottom: 11px;
}

.add-box-prod {
  width: 211px;
  height: 47px;
  border: 1px solid #f16d7f;
  text-align: center;
  display: inline-block;
  margin-top: 49px;
  margin-bottom: 65px;
}

.add-prod {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.add-desc-prod {
  padding-left: 12px;
}

.indent {
  height: 100px;
}