* {
   margin: 0;
   padding: 0;
}

@font-face {
   font-family: Lato_h1;
   src: url(fonts/Lato-Black.ttf);
}
@font-face {
   font-family: Lato_h2;
   src: url(fonts/Lato-Regular.ttf);
}
@font-face {
   font-family: Lato_p;
   src: url(fonts/Lato-Light.ttf);
}

.menu__wrapper {
   background-color: #222222;
   position: sticky;
   top: 0;
}
.container {
   max-width: 1140px;
   margin: 0 auto;
}
.zoom {
   transition: transform 0.1s;
}
.zoom:hover {
   transform: scale(1.05);
}
.menu {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   position: relative;
}
.zoom__menu {
   transition: transform 0.1s;
}
.zoom__menu:hover {
   transform: scale(1.5);
}
.logo__icon {
   padding-top: 19px;
   padding-right: 20px;
}
.search__icon {
   padding-top: 28px;
   padding-left: 21px;
}
.menu__icon {
   padding-top: 30px;
   padding-bottom: 22px;
   padding-left: 30px;
   padding-right: 12px;
}
.account__icon {
   padding-top: 26px;
   padding-left: 12px;
   padding-right: 21px;
}
.backet__icon {
   padding-top: 26px;
   padding-right: 20px;
   padding-left: 21px;
}

.left__elements {
   display: flex;
}
.right__elements {
   display: flex;
}
.right__elements:after {
   content: "";
   display: table;
   clear: both;
}
.right__elements > li {
   width: 25%;
   float: left;
   position: relative;
   font-family: Lato_h2;
}
.submenu {
   background: white;
   position: absolute;
   top: 60px;
   padding-left: 34px;
   padding-top: 10px;
   z-index: 5;
   width: 200px;
   height: 515px;
   opacity: 0;
   transform: scaleY(0);
   transform-origin: 0 0;
   transition: 0.5s ease-in-out;
   flex-grow: 1;
   list-style-type: none;
   font-size: 14px;
   display: block;
   margin-left: -100px;
}
a {
   text-decoration: none;
   color: #9f9f9f;
}
.sub-item__submenu {
   margin-left: 20px;
   margin-bottom: 8px;
}
.close__submenu {
   margin-left: 150px;
}
.submenu > .menu__icon {
   color: rgb(30, 53, 156);
   text-align: left;
   padding: 12px 15px;
   font-size: 13px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.right__elements > li:hover .submenu {
   opacity: 1;
   transform: scaleY(1);
}
.submenu li a:hover {
   color: #f16d7f;
}
.submenu__section {
   color: #f16d7f;
   margin-bottom: 7px;
}
.item-menu__submenu {
   color: #000;
   margin-bottom: 20px;
}

.banner__background {
   background-color: #f1e4e6;
}
.banner {
   height: 764px;
   display: flex;
   flex-wrap: wrap;
}
.banner__man {
   flex-grow: 1;
   background-image: url(img/banner.png);
   background-repeat: no-repeat;
}
.banner__text {
   width: 50%;
   display: flex;
   flex-direction: column;
}
.heading__h1 {
   font-family: Lato_h1;
   font-size: 48px;
   top: 200px;
   padding-left: 20px;
   margin-top: -100px;
}
.heading__h2 {
   font-family: Lato_h2;
   font-size: 36px;
   line-height: 58px;
   top: 416px;
   flex-grow: 1;
   padding-left: 20px;
}
.fashion__color {
   color: #f16d7f;
}
.color__line {
   padding-top: 365px;
   padding-right: 3px;
   
   
   
}

.goods {
   display: flex;
   justify-content: space-between;
   margin-top: 33px;
   margin-bottom: 30px;
   flex-wrap: wrap;
}
.card__text {
   text-align: center;
   font-family: Lato_h2;
}
.text__promo {
   color: white;
   font-size: 16px;
   font-weight: 400;
}
h3 {
   color: #f16d7f;
   font-size: 24px;
   font-weight: 700;
}
.women__goods {
   background-image: url(img/women.png);
   height: 260px;
   width: 360px;
   text-align: center;
   font-size: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: inset 0 0 0 100vw rgba(33, 22, 22, 0.7);
   background-repeat: no-repeat;
   margin-top: 32px;
}
.men__goods {
   background-image: url(img/men.png);
   height: 260px;
   width: 360px;
   text-align: center;
   font-size: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: inset 0 0 0 100vw rgba(33, 22, 22, 0.7);
   background-repeat: no-repeat;
   margin-top: 32px;
}
.kids__goods {
   background-image: url(img/kid.png);
   height: 260px;
   width: 360px;
   text-align: center;
   font-size: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: inset 0 0 0 100vw rgba(33, 22, 22, 0.7);
   background-repeat: no-repeat;
   margin-top: 32px;
}
.accesories {
   background-image: url(img/accesories.png);
   height: 180px;
   text-align: center;
   font-size: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: inset 0 0 0 100vw rgba(33, 22, 22, 0.7);
   background-repeat: no-repeat;
   margin-bottom: 96px;
}
h4 {
   font-family: Lato_h2;
   font-weight: 400;
   font-size: 30px;
   height: 36px;
   text-align: center;
}
.items__text {
   font-family: Lato_h2;
   font-weight: 400;
   font-size: 14px;
   color: #9f9f9f;
   text-align: center;
   margin-bottom: 48px;
}
.wrapper__items {
   height: 750px;
   background-color: #f3eded;
   margin-bottom: 49px;
}
.behind__button {
   display: flex;
   flex-direction: column;
}
.button__1 {
   font-size: 18px;
   font-family: Lato_h2;
   font-weight: 400;
   line-height: 19px;
   text-align: center;
   
   color: #FFFFFF;
   padding: 18px 38px;
   background: #f16d7f;
   text-decoration: none;
   display: inline-block;
   align-self: center;
   margin-bottom: 96px;
   width: 211px;
}
.benefits__background {
   background-color: #222224;
   
}
.benefits {
height: 341px;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
}
ul {
   list-style-type: none;
}
.background__image {
   height: 448px;
   background-repeat: no-repeat;
   background-image: url(img/bcg\ image.png);
background-position: center;
box-shadow: inset 0 0 0 100vw rgba(244, 244, 244, 0.7);
}
.footer__background {
   background-color: #222224;
   
}
.footer {
height: 90px;
}
.benefit {
   height: 126px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.benefit__text {
width: 360px;
font-family: Lato_p;
font-size: 14px;
line-height: 24px;
color: #FBFBFB;
;
}
.benefit__h5 {
   font-size: 20px;
   color: white;
   font-family: Lato_h2;
}
.benefit__icon1 {
padding-bottom: 28px;
}
.benefit__icon2 {
padding-bottom: 19px;
}
.benefit__icon3 {
padding-bottom: 25px;
}
.footer__content {
   display: flex;
   justify-content: space-between;
}
.rights {
padding-top: 30px;
font-family: Lato_h2;
font-size: 16px;
color: white;
}
.social__nw {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   margin-top: 24px;
   margin-right: 16px;
text-align: center;

}
.social__nw1 {
height: 32px;
width: 32px;
background-color: #fff;
margin: 8px;
background-image: url(img/facebook1.png);
background-repeat: no-repeat;
background-position: center;
}

.social__nw1:hover {
   background: #f16d7f;
   background-image: url(img/facebook2.png);
   background-repeat: no-repeat;
background-position: center;
}
.social__nw2 {
   height: 32px;
   width: 32px;
   background-color: #fff;
   margin: 8px;
   background-image: url(img/insta1.png);
   background-repeat: no-repeat;
   background-position: center;
   }
   
   .social__nw2:hover {
      background: #f16d7f;
      background-image: url(img/insta2.png);
      background-repeat: no-repeat;
   background-position: center;
   }
   .social__nw3 {
      height: 32px;
      width: 32px;
      background-color: #fff;
      margin: 8px;
      background-image: url(img/pinterest1.png);
      background-repeat: no-repeat;
      background-position: center;
      }
      
      .social__nw3:hover {
         background: #f16d7f;
         background-image: url(img/pinterest2.png);
         background-repeat: no-repeat;
      background-position: center;
      }
      .social__nw4 {
         height: 32px;
         width: 32px;
         background-color: #fff;
         margin: 8px;
         background-image: url(img/twitter1.png);
         background-repeat: no-repeat;
         background-position: center;
         }
         
         .social__nw4:hover {
            background: #f16d7f;
            background-image: url(img/twitter2.png);
            background-repeat: no-repeat;
         background-position: center;
         }